.biz-udpgothic-regular {
  font-family: "BIZ UDPGothic", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.choicebox {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 10px 20px;
  margin: 8px 0;
  border: 2px solid rgb(33, 33, 33);
  cursor: pointer;
}

.checkFrame {
  width: 20px;
  height: 20px;
  border: 2px solid rgb(33, 33, 33);
  margin-right: 10px;
}

.choiceBox:hover {
  background-color: rgb(240, 240, 240);
}